############################
# React
############################

Frontend/node_modules/
Frontend/dist/

############################
# Laravel
############################

backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key

############################
# IDE
############################

.vscode/

############################
# OS
############################

.DS_Store
Thumbs.db